#download {
    .card {
        padding: 3rem 1.5rem 15rem;
        position: relative;
        & .singing {
            width: 14.5rem;
            position: absolute;
            bottom: 0;
            right: -3.5rem; 
        }
    }

    .buttons {
        flex-wrap: wrap;
        margin-top: 2rem;
    }

     @media (width >= 80em) {
        .card {
            padding: 8.5rem 5rem ;
            
            & > div:nth-child(1) {
                max-width: 40rem;
            }
            
            & .singing {
                width: 29.125rem;
                right: -4.5rem; 
            }
        }
    }
}